td {
    vertical-align: middle;
    padding-left: 10px !important;
}

.action .btn {
    font-size: 14px;
}

.gradiant-text {
    background: #385A5C;
    background: linear-gradient(to right, #385A5C 0%, #FF735C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.table-bg {
    background: rgb(56,90,92);
background: linear-gradient(90deg, rgba(56,90,92,1) 0%, rgba(255,115,92,1) 100%);
}